<div class="flex flex-col items-center w-full gap-10 py-10 px-4">
  <div class="flex flex-col items-center gap-4 text-center">
    <h1 class="text-4xl font-medium">Welcome to the Minesweeper Game</h1>
    <h2 class="text-xl font-light">Generate a New Minesweeper Board</h2>
  </div>
  <%= form_with model: @board, url: boards_path, local: true, class:'w-full flex flex-col items-center' do |form| %>
    <div class="w-full max-w-xl bg-white shadow-xl border-t border-solid border-gray-200 rounded-2xl px-8 pt-8 pb-6 gap-6 flex flex-col">
      <div>
        <%= form.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div>
        <%= form.label :rows, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.number_field :rows, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div>
        <%= form.label :columns, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.number_field :columns, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div>
        <%= form.label :number_of_mines, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.number_field :number_of_mines, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div>
        <%= form.label :email, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.email_field :email, name: 'user[email]', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="flex justify-center items-center">
        <%= form.submit 'Generate Board', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    </div>
  <% end %>
  <h2 class="text-2xl font-medium mt-8 text-center">Previously Generated Minesweeper Boards</h2>
  <% if @boards.any? %>
    <div class="w-full flex flex-col items-center overflow-x-auto">
      <table class="w-full bg-white max-w-5xl shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <thead>
          <tr>
            <th class="border-b-2 pb-2 text-left px-4">Name</th>
            <th class="border-b-2 pb-2 text-center pr-4">Rows</th>
            <th class="border-b-2 pb-2 text-center pr-4">Columns</th>
            <th class="border-b-2 pb-2 text-center pr-4">Mines</th>
            <th class="border-b-2 pb-2 text-center pr-4">Checked Cells</th>
            <th class="border-b-2 pb-2 text-center pr-4">Found Mines</th>
            <th class="border-b-2 pb-2 text-left pr-4">Email</th>
            <th class="border-b-2 pb-2 text-left px-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @boards.each do |board| %>
            <tr>
              <td class="border-b pb-2 px-4"><%= board.name %></td>
              <td class="border-b pb-2 text-center pr-4"><%= board.rows %></td>
              <td class="border-b pb-2 text-center pr-4"><%= board.columns %></td>
              <td class="border-b pb-2 text-center pr-4"><%= board.number_of_mines %></td>
              <td class="border-b pb-2 text-center pr-4"><%= board.board_cells.where(clicked: true).count %></td>
              <td class="border-b pb-2 text-center pr-4"><%= board.board_cells.where(clicked: true, mine: true).count %></td>
              <td class="border-b pb-2 pr-4"><%= board.user.email %></td>
              <td class="border-b pb-2 px-4">
                <%= link_to 'Show', board_path(board), class: 'text-blue-500 hover:text-blue-700' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <a href="<%= boards_path %>" class="text-blue-500 hover:text-blue-700">View Full List of Minesweeper Boards</a>
  <% else %>
    <p class="text-center text-gray-500">No boards available.</p>
  <% end %>
</div>